@import "theme.scss";

.checked {
  background-color: $my-app-primary !important;
}

.checkbox-container {
  display: flex;
  align-items: center;

  .checkbox {
    cursor: pointer;
    display: flex;
    border: 8px solid #8de0ff;
    border-radius: 20px;
    height: 32px;
    width: 32px;
    box-sizing: border-box;

    .bx-check {
      color: white;
      font-size: 14px;
      position: relative;
      left: 1px;
      bottom: -1px;
    }
  }

  .text {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #6e7191;
    margin-left: 0.7em;
  }
}
