.description {
  height: 10em !important;
  background-color: #EFF4F7 !important;
  padding-left: 1em !important;
  padding-top: 0.5em;
  padding-right: 1em !important;
  padding-bottom: 0.5em;
}

textarea {
  height: 8em !important;
  resize: none !important;
}
