<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="forgot-password-container"
>
  <h2>
    <img id="icon" src="../../../../../assets/icons/sign-in.svg"/> {{'forgot-password' | translate}}
  </h2>
  <app-error-container [errors]="errors"></app-error-container>
  <app-text-input
    [controlName]="'username'"
    [label]="'username'"
    [formGroup]="form"
    [options]="{ disabled: false, required: true }"
    [ngClass]="{ invalid: !form.valid && form.touched }"
  >
  </app-text-input>
  <button
    mat-raised-button
    color="accent"
    [disabled]="!form.valid"
    class="auth-btn mt-3"
  >
    {{ "submit" | translate }}
  </button>
</form>
<div class="auth-footer">
  <div class="text">{{'no-account' | translate }}</div>
  <div class="register"><a routerLink="/auth/register">{{'sign-up' | translate }}</a></div>
</div>
