@import "theme";
#body {
  background: url("../../../../../assets/svg/background.svg");
  height: 100% !important;
  margin: 0 !important;
}

h2 {
  text-align: left;
  margin-left: 2vw;
  color: #6e7c91;
}

#logo {
  margin: 1em;
  height: 1.6em;
}

mat-card {
  max-width: 20em;
  margin: 2em auto;
  text-align: center;
  background-color: $input;
  box-shadow: none !important;
  padding: 2.2em;
}

mat-toolbar {
  background-color: transparent;
}

p {
  margin-top: 1em;
  color: $input-text;
  font-family: "Ubuntu Light", serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.text {
  font-size: 12px;
  text-align: center;
}

.register {
  font-size: 14px;
  color: $my-app-primary;
}

.auth-footer {
  margin-top: 40px;
  text-align: center;
}

::ng-deep.invalid {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      outline: 3px solid red !important;

      .mat-form-field-infix {
        .mat-form-field-label-wrapper {
          .mat-form-field-label {
            color: $input-text !important;
          }
        }
      }
    }
  }
}
