@import "theme.scss";

.mat-form-field {
  height: 62px;
  margin-right: 24px;
  min-width: 200px;

  .mat-input-element,
  .mat-select-value {
    color: $input-text-secondary !important;
    font-family: "Ubuntu Regular" !important;
    letter-spacing: 0.75px !important;
  }

  .mat-form-field-label {
    top: 20px;
  }

  .mat-form-field-wrapper {
    height: 100% !important;

    .mat-form-field-flex {
      height: 100% !important;

      .mat-form-field-infix {
        top: 5px;
        left: 13px;
        

        .mat-select {
          width: 95% !important;
        }
      }

      .mat-form-field-suffix {
        bottom: 4px;
      }
    }
  }
}

.change-password {
  display: flex;
  justify-content: center;
}

.password-strength {
  width: 100%;
  margin-top: 6vw;
}

.btn {
  width: 30vw !important;
  margin-top: 2em !important;
}

::ng-deep {
  .material-icons {
    font-size: 20px !important;
  }

  mat-hint {
    position: absolute;
    margin-top: 1em;
    font-size: 10px;
    width: 106%;
    justify-content: end;
    text-align: right;
  }

  #strength-line .mat-progress-bar {
    display: block;
    height: 4px;
    overflow: hidden;
    position: absolute;
    transition: opacity 250ms linear;
    width: 210px;
    bottom: -9px;
    left: -14px;
  }

  .material-icons {
    font-family: "Material Icons" !important;
  }

  .mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
    background-color: #ffd90f !important;
  }

  .mat-progress-bar.mat-accent .mat-progress-bar-buffer {
    background-color: #eac501;
  }

  .mat-progress-bar-fill::after {
    background-color: $success;
  }

  #none-password {
    height: 4em;

    .mat-form-field-wrapper {
      padding-bottom: 0px;
      height: 100% !important;

      .mat-form-field-flex {
        height: 100% !important;

        .mat-form-field-infix {
          margin-left: 1em !important;
          margin-top: 0.5em !important;
        }
      }
    }

    .mat-hint {
      margin: 16px 0 0 20px;
    }
  }
}

.clear-input-btn {
  position: absolute;
  top: -60%;
  right: 2%;
  font-size: 1.3rem;
  cursor: pointer;
}

.input-btn-fix {
  left: 103%;
}
